/*  ********************************************************************************************************  */
/*  **********  /09-http-app-crud/src/users/presentation/render-add-button/render-add-button.css  **********  */
/*  ********************************************************************************************************  */


.fab-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
    transition: all 300ms ease-in-out;
}

.fab-button:hover {
    background-color: bisque;
}


/*  *****  Responsive  *****  */
@media (width < 400px) {

    .fab-button {
        position: relative;
        top: auto;
        right: auto;
        width: 14px;
        height: 14px;
        /* line-height: 0;
        text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}